@using ControleHoras.APRESENTACAO.Models.Monitoramento.Resultado
@model IEnumerable<AcompanhamentoDiarioViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <style>
        <!--
        body {
            font-family: arial;
            font-size: 11px;
            color: black;
            background-color: white;
        }

        h1 {
            font-family: Arial;
            font-size: 25px;
            color: black;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h2 {
            font-family: Arial;
            font-size: 20px;
            color: black;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .tableHeader {
            font-family: Arial;
            font-size: 11px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }

        .tableHeaderRow {
            height: 15px;
        }

        .tableHeaderLabel {
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            color: black;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            background-color: transparent;
            padding: 0px 5px 0cm 5px;
            width: 25%;
            height: 15px;
        }

        .tableHeaderContent {
            font-family: Arial;
            font-size: 11px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            padding: 0px 5px 0cm 5px;
            width: 75%;
            height: 15px;
            border: solid black 1.0pt;
            border-left: none;
        }

        .tableItem {
            font-family: Arial;
            font-size: 11px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }

        .tableItemRow {
            height: 15px;
        }

        .tableItemLabel {
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
            color: black;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            background-color: transparent;
            padding: 0px 5px 0cm 5px;
            height: 15px;
        }

        .tableItemContent {
            font-family: Arial;
            font-size: 11px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            padding: 0px 5px 0cm 5px;
            height: 15px;
            border: solid black 1.0pt;
        }
        -->
    </style>
</head>

<body>

    <div id="main">

        <h1>Acompanhamento Diário</h1>

        <div id="profissional">

            <table class="tableHeader">
                <tr class="tableHeaderRow">
                    <td class="tableHeaderLabel"><p>Data:</p></td>
                    <td class="tableHeaderContent">
                        <p>
                            @DateTime.Now.ToString("dd/MM/yyyy HH:mm")
                        </p>
                    </td>
                </tr>

            </table>

        </div>

        <h2>Profissionais</h2>

        <div id="lancamentos">

            <table class="tableItem">
                <tr class="tableItemRow">
                    <td class="tableItemLabel"><p>Cliente</p></td>
                    <td class="tableItemLabel"><p>Contrato</p></td>
                    <td class="tableItemLabel"><p>Profissional</p></td>
                    <td class="tableItemLabel"><p>Horário de Entrada</p></td>
                    <td class="tableItemLabel"><p>Situação</p></td>
                </tr>

                @if (Model != null)
                {
                    foreach (AcompanhamentoDiarioViewModel item in Model)
                    {

                        <tr class="tableItemRow">
                            <td class="tableItemContent">
                                <p>
                                    @Html.DisplayFor(i => item.Cliente)
                                </p>
                            </td>
                            <td class="tableItemContent">
                                <p>
                                    @Html.DisplayFor(i => item.Contrato)
                                </p>
                            </td>
                            <td class="tableItemContent">
                                <p>
                                    @Html.DisplayFor(i => item.Profissional)
                                </p>
                            </td>
                            <td class="tableItemContent">
                                <p>
                                    @Html.DisplayFor(i => item.HoraEntrada)
                                </p>
                            </td>
                            <td class="tableItemContent">
                                <p>
                                    @Html.DisplayFor(i => item.Situacao)
                                </p>
                            </td>

                        </tr>
                    }
                }
            </table>

        </div>

    </div>

</body>

</html>
