@model ControleHoras.APRESENTACAO.Models.ProfissionalDispositivoViewModel

@{
    ViewBag.Title = "Cadastro de Dispositivos Móveis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Dispositivos Móveis</h2>
<nav class="breadcrumb">
    @Html.ActionLink("Cliente", "Index") /
    <span class="breadcrumb-item active">Detalhes</span>
</nav>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfissionalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissional.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imei)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imei)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            <button type="button" class="btn btn-success">@Html.ActionLink("Editar", "Edit", new { id = Model.ProfissionalDispositivoID })</button>
        </dt>
    </dl>
</div>
<p>
    &laquo;@Html.ActionLink("Voltar", "Index")
</p>
