@model ControleHoras.APRESENTACAO.Models.UsuarioCriacaoViewModel

@{
    ViewBag.Title = "Cadastro de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Usuários</h2>
<nav class="breadcrumb">
    @Html.ActionLink("Cliente", "Index") /
    <span class="breadcrumb-item active">Novo Cadastro</span>
</nav>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuário Externo/Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("usuarioExterno", false)
            </div>
        </div>

        <div id="inputSenha" class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="inputConfirmarSenha" class="form-group">
            @Html.LabelFor(model => model.ConfirmarSenha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmarSenha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="inputAdm" class="form-group">
            @Html.LabelFor(model => model.Adm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Adm)
                @Html.ValidationMessageFor(model => model.Adm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id ="comboCli" class="form-group">
            @Html.LabelFor(model => model.ClienteID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID", Model.ListaClientes, "", new Dictionary<string, object> { { "class", "chosen-select" }, { "data-placeholder", "Selecione" } })
                @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="comboProfiss" class="form-group">
            @Html.LabelFor(model => model.ProfissionalID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProfissionalID", Model.ListaProfissionais, "", new Dictionary<string, object> { { "class", "chosen-select" }, { "data-placeholder", "Selecione" } })
                @Html.ValidationMessageFor(model => model.ProfissionalID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    &laquo;@Html.ActionLink("Voltar", "Index")
</div>

@section Styles {
    @Styles.Render("~/styles/chosen")
}

@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    
    <script type="text/javascript">
        jQuery(function ($) {
            $("#ClienteID").chosen({ width: "200px", no_results_text: "Não encontrado", allow_single_deselect: true });
            $("#ProfissionalID").chosen({ width: "200px", no_results_text: "Não encontrado", allow_single_deselect: true });
        });

        $("#usuarioExterno").ready(function () {
            var element = $("#usuarioExterno").is(":checked");
            
            if (element == false) {
                //interno/profissional
                $("#comboProfiss").show();

                $("#comboCli").hide();
                $("#inputSenha").hide();
                $("#inputConfirmarSenha").hide();
                $("#inputAdm").hide();
            }
        });
        
        $("#usuarioExterno").click(function () {
            perfilUsuario();
        });

        function perfilUsuario()
        {
            var element = $("#usuarioExterno").is(":checked");
            if (element == false) {
                //externo
                $("#comboCli").hide();
                $("#comboProfiss").show();

                $("#inputSenha").hide();
                $("#inputConfirmarSenha").hide();
                $("#inputAdm").hide();

                $("#Senha").val('');
                $("#ConfirmarSenha").val('');
                $("#Adm").prop("checked", false);

            } else {
                //interno/profissional
                $("#comboProfiss").hide();
                $("#comboCli").show();

                $("#inputSenha").show();
                $("#inputConfirmarSenha").show();
                $("#inputAdm").show();
            }
        }

    </script>
}