@model IEnumerable<ControleHoras.APRESENTACAO.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Lista de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de Usuários</h2>

<button type="button" class="btn btn-success">@Html.ActionLink("Novo Cadastro", "Create")</button>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Cliente/Profissional")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adm)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.ClienteID > 0)
                {
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                }
                else if (item.ProfissionalID > 0)
                {
                    @Html.DisplayFor(modelItem => item.Profissional.Nome)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            @if (item.Adm)
            {
                <td>Sim</td>
            }
            else
            {
                <td>Não</td>
            }
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }) |
                @Html.ActionLink("Alterar Senha", "EditPassword", new { id = item.UsuarioID }, htmlAttributes: new { @class = "text-warning" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.UsuarioID }, htmlAttributes: new { @class = "text-success" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.UsuarioID }, htmlAttributes: new { @class = "text-danger" })
            </td>
        </tr>
    }

</table>
